body {
    margin:0;
    padding:0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Unbounded', cursive;
    box-sizing: border-box;

}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
/*  border: 1px solid black;*/ 
    padding: 0 80px;
    background-color: #1f2937;
    color: #fff;
    border-bottom: #fff;
}

.logo {
    text-transform: uppercase;
    font-size: larger;
    font-family: 'Unbounded', sans-serif;
    text-decoration: none;
    color: #fff;
    padding:0;

}

.links {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    min-width: 400px;
} 

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.links a:hover {
    color: #3882f6;
}

/* HERO section  */
.hero-section {
height: 75vh;
display: flex;
background-color: #1f2937;
justify-content: space-evenly;
align-items: flex-start;
flex:1;
}

.hero-left{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
max-width: 600px;
color: #fff;
flex-wrap: wrap;
padding: 80px

}

.hero-left h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.button {
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: inherit;
    border:2px solid #fff;
    font-weight: 400;
    font-size: larger;
    transition: all 0.5s;
    cursor: pointer;
    
}
.button:hover {
    background-color: #3882f6;;
    border: 2px solid #fff;
    cursor: pointer;
}

.hero-right img {
    max-width: 600px;
    height: auto;
    padding-top:60px;
    text-decoration: none;
}

@media (max-width: 800px) {
    .hero-right, .hero-left {
      flex: 100%;
    }
  }

/* CARDS SECTION */

.cards-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cards-heading {
    align-self: center;
    padding-top: 32px;
}

.cards-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card {
    /* border: 2px solid #3882f6; */
    border-radius: 10px;
    padding: 16px;
    margin:32px;
    max-width: 200px;
}
.card img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
.card-text {
    flex-wrap: wrap;

}

.card-text a {
    color: #1f2937;
}

/* QUOTE section */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding: 48px;
}
.quote-author {
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding-left: 800px;
    font-size: 16px;
}

/* CTA section */

.cta-section {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 16px 72px;
}

.cta-heading {
    font-size: 24px;
    font-weight: 500;
}

.cta-text {
    font-weight: 400;
    font-style: normal;
}

/* FOOTER */

.footer {
height: 72px;
background-color: #1f2937;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.cta-button {
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: inherit;
    border:2px solid #fff;
    font-weight: 400;
    font-size: larger;
    transition: all 0.5s;
    cursor: pointer;   
}
.cta-button:hover {
    background-color: #1F2937;
    border: 2px solid #fff;
}
